.picture-preview-container {
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;

  img {
    filter: brightness(0.7);
    transition: 0.2s;
    &:hover {
      filter: brightness(0.9);
    }
  }

  h2,
  p {
    position: absolute;
    left: 20px;
    right: 20px;
    color: white;
  }

  h2 {
    bottom: 50px;
  }

  p {
    bottom: 20px;
    font-size: 13px;
    opacity: 0.75;
  }
}
